@import "tailwindcss";

@font-face {
    font-family: font;
    src: url(./assets/Lexend-Bold.ttf);
}

*{
    justify-content: center;
}

body{
    background-color: #f4dec5;
    font-family: 'font', sans-serif;
    user-select: none;
}

.navbar{
    background-color: #785444;
}

.links{
    color: #f5d0b8;
}

.content{
    color: #785444;
}

.basket-section{
    background-color: #fff7ed;
    width: 440px;
    height: 700px;
    border-radius: 16px;
}

.btn-finalizar{
    transition: all 0.3s ease-in-out;
}


.btn-finalizar:hover{
    transform: scale(1.1);
}

.payment{
    background-color: #fff7ed;
}

.navlinks{
  transition: all 0.3s ease-in-out;
  display: inline-block;
}

.navlinks:hover{
  transform: scale(1.1);
}

.section{
  transition: all 0.3s ease-in-out;
}

.section:hover{
  transform: scale(1.02);
}


/* From Uiverse.io by PriyanshuGupta28 */ 
.checkbox-wrapper input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper *,
  .checkbox-wrapper ::after,
  .checkbox-wrapper ::before {
  box-sizing: border-box;
  user-select: none;
}

.checkbox-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
}

.checkbox-wrapper .label {
  cursor: pointer;
}

.checkbox-wrapper .check {
  width: 50px;
  height: 50px;
  position: absolute;
  opacity: 0;
}

.checkbox-wrapper .label svg {
  vertical-align: middle;
}

.checkbox-wrapper .path1 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  transition: .5s stroke-dashoffset;
  opacity: 0;
}

.checkbox-wrapper .check:checked + label svg g path {
  stroke-dashoffset: 0;
  opacity: 1;
}